<app-header></app-header>

<div class="space-bottom-1"></div>




<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class=" cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Wishlist</b></h4>
                            </div>
                        </div>
                    </div>
                    <div style="display: block;width: 100%;overflow-x: auto;" class="cart-body">
                        <div class="row border-top border-bottom" *ngIf="isEmptyWish">No items in Wishlist</div>
                        <div class="row border-top border-bottom" *ngFor="let wish of personalWishItemList">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" [src]="wish.BImgPath" routerLink="/books/{{wish.BId}}" style="cursor: pointer;">
                                </div>
                                <div class="col-6">
                                    <div class="row text-muted">{{wish.BTitle}}</div>
                                    <div class="row">{{wish.CatName}}</div>
                                </div>
                                <div class="col-3">
                                    <ul>
                                        <li style="--c:#5628EE;--co:#5628EE95">
                                            <a (click)="handleAddToCart(wish)" data-bs-toggle="modal" data-bs-target="#cartModal">
                                                <i class="nav-icon fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li style="--c: red;--co:#FF000030">
                                            <a (click)="handleRemoveFromWish(wish); reloadComponent();">
                                                <i class="nav-icon fas fa-trash" ></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        
                        
                    </div>

                    
                </div>

            </div>
        </div>
    </div>



</div>

<div class="space-bottom-2"></div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div style="text-align: center;" class="alert alert-danger" *ngIf="isPresentCart">
    Your Book is already in the Cart.  
  </div>
  <div style="text-align: center;" class="alert alert-success" *ngIf="!isPresentCart && isSaved">
    Successfully added to Cart.
  </div>
</div>
</div>