<app-testuser>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title m-0">User Password Change</h5>
        </div>
        <div class="card-body">
            <div class="form-group row mb-3">
                <label for="staticName" class="col-sm-3 col-form-label">Old Password</label>
                <div class="col-sm-9">
                    <input  type="password" class="form-control" placeholder="Enter Old Password" [(ngModel)]="oldPassword"/>
                </div>
            </div>
            <div class="form-group row mb-3" >
                <label for="staticName" class="col-sm-3 col-form-label">New Password</label>
                <div class="col-sm-9">
                    <input  type="password" class="form-control" placeholder="Enter New Password" [(ngModel)]="newPassword"/>
                </div>
            </div>
            <div class="form-group row mb-3" >
                <label for="staticName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <a class="btn btn-primary" (click)="onSubmit()">Update Password</a>
                </div>
            </div>
            <div style="text-align: center;" class="alert alert-success" *ngIf="isSaved">
                Password Updated Successfully !!!
              </div>
              <div style="text-align: center" class="alert alert-danger" *ngIf=" !isSaved && reqSent">
                {{errorMessage}}
              </div>
        </div>



    </div>
</app-testuser>